# Deep Neural Network

## Data reading

In [1]:
import pandas as pd
blue_algae = pd.read_csv('D:/Workplace/Machine_Learning_for_blue_green_algae/전처리 후 데이터/predict_blue_algae.csv', 
                         sep=',', index_col='date')
blue_algae.head(5)

,temp,pH,DO,BOD,COD,SS,EC,TN,DTN,NO3,...,TP,DTP,PO4,Chla,TOC,TC,FC,w,Irrad,cell
date,,,,,,,,,,,,,,,,,,,,,
2013-01-07,1.7,7.8,15.6,1.2,3.0,14.9,230,3.621,3.304,2.725,...,0.055,0.034,0.027,2.3,2.1,5,0,1.1,8.2,0.001
2013-01-14,1.7,8.0,15.3,0.7,3.2,1.7,298,3.659,3.399,3.154,...,0.021,0.011,0.004,1.7,2.0,0,0,1.2,7.7,0.001
2013-01-28,3.4,8.2,15.4,2.3,5.8,5.1,387,4.199,3.807,3.530,...,0.031,0.009,0.003,20.5,3.6,3,1,1.0,8.8,0.001
2013-02-04,4.6,7.7,14.5,1.3,5.7,8.6,381,4.670,3.996,3.393,...,0.050,0.017,0.003,20.7,3.4,153,41,1.5,5.0,0.001
2013-02-12,2.5,7.7,14.9,1.8,4.5,5.4,344,4.214,3.922,3.136,...,0.045,0.015,0.003,21.1,3.1,4,1,0.8,0.5,0.001

In [2]:
blue_algae.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, 2013-01-07 to 2018-12-24
Data columns (total 21 columns):
temp     300 non-null float64
pH       300 non-null float64
DO       300 non-null float64
BOD      300 non-null float64
COD      300 non-null float64
SS       300 non-null float64
EC       300 non-null int64
TN       300 non-null float64
DTN      300 non-null float64
NO3      300 non-null float64
NH3      300 non-null float64
TP       300 non-null float64
DTP      300 non-null float64
PO4      300 non-null float64
Chla     300 non-null float64
TOC      300 non-null float64
TC       300 non-null int64
FC       300 non-null int64
w        300 non-null float64
Irrad    300 non-null float64
cell     300 non-null float64
dtypes: float64(18), int64(3)
memory usage: 51.6+ KB

## Making dependent and independent

In [3]:
dataset = blue_algae.values
X = dataset[:,0:20]
y = dataset[:,20]

# normalization
from sklearn.preprocessing import StandardScaler
X_std = StandardScaler().fit_transform(X)
X_std

array([[-1.78586624, -0.54573066,  1.802328  , ..., -0.19713187,
        -0.25963891,  0.42027476],
       [-1.78586624, -0.12268364,  1.69240016, ..., -0.19713187,
        -0.0865463 ,  0.29058701],
       [-1.58397951,  0.30036338,  1.72904277, ..., -0.19522906,
        -0.43273152,  0.57590005],
       ...,
       [-1.19208174, -1.81487172,  0.66640699, ..., -0.15146426,
        -0.77891673,  0.42027476],
       [-1.42959554, -1.81487172,  1.39925925, ..., -0.1781037 ,
        -0.25963891, -0.28003907],
       [-1.28708726, -1.3918247 ,  1.14276096, ..., -0.17049243,
        -0.77891673,  0.34246211]])

## DNN

In [ ]:
seed = 0
np.random.seed(seed)
tf.set_random_seed(seed)

X_std_train, X_std_test, y_train, y_test = train_test_split(X_std, y, test_size=0.2)

model = Sequential()
model.add(Dense(300, input_dim=20, activation='relu'))
model.add(Dense(1250, activation='relu'))
model.add(Dense(600, activation='relu'))
model.add(Dense(300, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mse','mae'])

model.fit(X_train, Y_train, epochs=4000, batch_size=100)

In [ ]:
y_prediction = model.predict(X_std_test).flatten() # 검증 데이터에 대한 예측값, flatten : 데이터를 1차원으로 바꿈
for i in range(10):
    label = y_test[i]
    prediction = y_prediction[i]
    print("실제가격: {:.3f}, 예상가격: {:.3f}".format(label, prediction))